<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourwork.meetingsystem.Mapper.SignInMapper">

    <!-- 查询签到记录 -->
    <select id="selectSignInByUserAndMeeting" resultType="com.ourwork.meetingsystem.Entity.SignIn">
        SELECT * FROM SignIn
        WHERE UserID = #{userID} AND MeetingID = #{meetingID}
    </select>

    <select id="selectSignInsByMeeting" resultType="com.ourwork.meetingsystem.Entity.SignIn">
        SELECT * FROM SignIn WHERE MeetingID = #{meetingID}
    </select>

    <!-- 添加签到记录 -->
    <insert id="insertSignIn" parameterType="com.ourwork.meetingsystem.Entity.SignIn">
        INSERT INTO SignIn (MeetingID, UserID, VerificationResult)
        VALUES (#{meetingID}, #{userID}, #{verificationResult})
    </insert>

    <!-- 更新签到记录 -->
    <update id="updateSignIn" parameterType="com.ourwork.meetingsystem.Entity.SignIn">
        UPDATE SignIn
        SET SignTime = #{signTime},
            VerificationResult = #{verificationResult}
        WHERE SignID = #{signID}
    </update>

    <!-- 删除签到记录 -->
    <delete id="deleteSignIn" parameterType="int">
        DELETE FROM SignIn WHERE SignID = #{signID}
    </delete>
</mapper>